

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: antiquewhite;
    font-size: large;
    margin:0;
}

.active-link{
    color:red;
    font-size: larger;
}